@{
    ViewBag.Title = "Home Page";
}

<div class="trails">
    <h1 class="top-content">
        Lets Learn Together With LearnIT


    </h1>

    <div class="cards">
        <div class="grid">
            <div class="grid-item novice">
                <ion-icon name="paper-plane"></ion-icon>
                <h1>LearnIt</h1>
                <p>
                    Tell me and I forget, teach me and I may remember, involve me and I learn!
                </p><br>
                <p>To join us in this jouney Please Login</p>
                <a href="/Account/Login" class="btn">Login</a>
            </div>
        </div>
    </div>
</div>